.body{
    padding-top: 50%;
    margin-top: 45%;
    padding: 20px;
}
.back{
    background-color: beige;
}
.head{
    font-size: large;
    text-align: center;
}
.lines{
    padding-left: 20px;
    padding-right: 20px;

}